<launch>
    <!-- Atraque: 1 | Puerto: 2 | Costa: 3 -->
    <node pkg="rostopic" type="rostopic" name="phase" args="pub /phase std_msgs/Int8 1"/>

    <!-- <node pkg="rosbag" type="play" name="rosbag" args="-l -r 1 -s 80 -u 10 /home/hector/bags/testpatio/2018-07-11-10-29-33.bag" required="true"/> -->
    <!-- <node pkg="rosbag" type="play" name="rosbag" args="-l -s 15 -u 60 /home/hector/bags/postes/2018-08-02-10-17-32.bag" required="true"/> -->
    <!-- <node pkg="rosbag" type="play" name="rosbag" args="-s 25 -u 40 /home/hector/bags/postes/2018-08-02-10-13-51.bag" required="true"/> -->
    <node pkg="rosbag" type="play" name="rosbag" args="-s 25 -u 40 -l /home/hector/bags/postes/2018-08-02-10-13-51.bag" required="true"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d /home/hector/coas_ws/src/coas/detection/rviz/atraque.rviz" required="true"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d /home/hector/coas_ws/src/coas/detection/rviz/ajuste.rviz" required="true"/> -->

    <node pkg="mapping" type="mapFilter_node" name="mapFilter_node" output="screen" required="true"/>
    <node pkg="detection" type="volexFilter_node" name="volexFilter_node" output="screen" required="true"/>
    <node pkg="detection" type="euclideanClusterer_node" name="euclideanClusterer_node" output="screen" required="true"/>
    <node pkg="detection" type="boundingBoxes_node" name="boundingBoxes_node" output="screen" required="true"/>
    <node pkg="detection" type="matching_node" name="matching_node" output="screen" required="true"/>
</launch>